/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.heading-block span {}

.entry-image,
.entry-image>a,
.entry-image .slide a,
.entry-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#download {
    display: none;
}

#print {
    display: none;
}
